.container{
    min-width: none;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding: auto;
    color: white;
    
};
body {
    background-image: linear-gradient(120deg, #f6d365 4%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
.btn{
    padding:5px;
    border-radius:5px;
    color:rgba(155, 34, 207, 0.787);
    border:none;
    font-size:12px;
    transition:.2s;
  
}
hover:hover {
    transform:scale(1.09)
  }
  
  .img-hover:hover{
    transform:scale(1.3)
  }
  